

.one{
	float: right;
	width: 20%;
	background-color: red;
}

.two{
	width: 80%;
	background-color: green;
}
.three{
	float: left;
	width: 20%;
	background-color: green;
}
.four{
	
	margin-left: 20%;
	background-color: red;
}